<form action="/creds" method="POST">
	<label>Enrollment No: </label>
	<input placeholder="Enrollment Number" name="enrollmentNo"><br><br>
	<label>Password: </label>
	<input placeholder="Password" name="password"><br><br>
    <button>Submit</button>
</form>
